<a href="https://colab.research.google.com/github/Nordosgoitia/Intro_python_202320/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion a Phyton
## Curso de Programacion y Algoritmia UPB 202320
- Nombre: Nataly Ordosgoitia
- ID: 000499003
- Email: Nataly.ordosgoitia@upb.edu.co

Esta es la expresion de la linea recta
$$y = mx + b$$

donde $x$ es la posicion

In [2]:
# Mis primeras lineas de codigo en python

firstname = "Nataly"
lastname = "Ordosgoitia"
age = "17a単os"
city = "Monteria"
food = "Hamburguesa"
print("mi nombre es,", firstname,lastname, "y tengo,", age, "Vivo en,", city, "y me gusta la,", food)

mi nombre es, Nataly Ordosgoitia y tengo, 17a単os Vivo en, Monteria y me gusta la, Hamburguesa

In [16]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c += 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
5.3

In [23]:
m = 5
b = 2
x = -3
y = m * x + b
print(y)
x = -2
y = m * x + b
print(y)
x = -1
y = m * x + b
print(y)
x = 0
y = m * x + b
print(y)
x = 1
y = m * x + b
print(y)
x = 2
y = m * x + b
print(y)
x = 3
y = m * x + b
print(y)

-13
-8
-3
2
7
12
17

In [40]:
a = 1
b = 2
c = -8
disc = (b ** 2 - 4 * a * c) ** (0.5)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:" , x_p)
print("x_n:" , x_n)
print("-" * 10)
a = -3
b = -1
c = 10
disc = (b ** 2 - 4 * a * c) ** (0.5)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:" , x_p)
print("x_n:" , x_n)
print("-" * 10)
a = 0.1
b = -2
c = 0.5
disc = (b ** 2 - 4 * a * c) ** (0.5)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:" , x_p)
print("x_n:" , x_n)
print("-" * 10)

x_p: 2.0
x_n: -4.0
----------
x_p: -2.0
x_n: 1.6666666666666667
----------
x_p: 19.74679434480896
x_n: 0.25320565519103666
----------

In [41]:
firstname = "Nataly"
lastname = "Ordosgoitia"
fullname = firstname + " " + lastname
print(fullname)

Nataly Ordosgoitia

In [47]:
song = """Un elefante se balanceaba
sobre la tela de una ara単a
como veia que resistia
se fue a buscar otra...no se."""
print(song)

Un elefante se balanceaba
sobre la tela de una ara単a
como veia que resistia
se fue a buscar otra...no se.

In [46]:
a = 11
b = 18
print(a == b)
print(a !=b)
print(a > b)
print(a < b)
print((a == b) and (b + 3 > 5))
print((a == b) or (b + 3 > 5))
print(not (a == b))

False
True
False
True
False
True
True