<a href="https://colab.research.google.com/github/Nordosgoitia/Intro_python_202320/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion a Phyton
## Curso de Programacion y Algoritmia UPB 202320
- Nombre: Nataly Ordosgoitia
- ID: 000499003
- Email: Nataly.ordosgoitia@upb.edu.co

Esta es la expresion de la linea recta
$$y = mx + b$$

donde $x$ es la posicion

In [21]:
# Mis primeras lineas de codigo en python

firstname = "Nataly"
lastname = "Ordosgoitia"
age = "17años"
city = "Monteria"
food = "Hamburguesa"
print("mi nombre es,", firstname,lastname, "y tengo,", age, "Vivo en,", city, "y me gusta la,", food)

mi nombre es, Nataly Ordosgoitia y tengo, 17años Vivo en, Monteria y me gusta la, Hamburguesa